<div class="wrapper">
  <div class="body">
    <img class="logo" src="../../../assets/img/login.png" alt="img login">
    
    <h3>Login</h3>    
    
    <div class="form-floating mb-3 mt-3">
      <input type="email" class="form-control" placeholder="Email...">
      <label >Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" placeholder="Password">
      <label >Password</label>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" routerLink="/dashboard">Submit</button>      
    </div>
    <p>Do you not have an account? <a routerLink="/signIn">Register</a></p>
  </div>

</div>
